.main{
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
}

/* =================Row-1 ==================*/
.row-1{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: rgb(49, 64, 78);
}
.row-1-1{
    padding-top: 1%;
    font-size: xx-large;
    color: rgb(197, 78, 14);
    font-family: 'Orbitron', sans-serif;
}
.row-1-2{
    font-size: medium;
    color: bisque;
    font-style: italic;
    padding-bottom: 1%;
    font: italic;
}

/* ==========================Row-2===================== */
.row-2{
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: auto;
    background-color: rgb(71, 72, 74);
}
.row-2-1{
    height: auto;
    width: 20%;
    font-size: large;
    padding-top: 10px;
    position: sticky;
    float: left;
}

.row-2-2{
    text-decoration: none;
    color: rgb(229, 224, 224);
}
.row-2-2:hover{
    color: rgb(197, 78, 14);
    height: 1px;
    width:1px;

}

/* ==================Row-3================ */
.heading{
    height: 40px;
    width: fit-disp;
    font-size: x-large;
    text-align: center;
    padding-top: 8px;
    border: 5px solid #8dde8d;
}

/* ==================Row-4================ */
.row-3{
    width: 100%;
    height: auto;
}

.row-3heading{
    width: 100%;
    /* border-top-left-radius: .5rem; */
}
.row-3-1{
    height: 90%px;
    width: 100%;
    border-radius: .5rem;
}

.row-3-2{
    height: 45px;
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(181, 148, 108);
}

.row-3-3{
    height: 165px;
    width: 100%;
}

.row-3-4{
    height: 165px;
    width: 20%;
    float: left;
}
.row-3-5{
    height: 165px;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(205, 196, 196);
    float: left;
}

.nav__image{
    height: 165px;
    width: 100%;
    border-radius: 5px;
}

/* =======================Row-5============================ */
.row-4{
    height: auto;
}
.row-4-1{
    height: auto;
    width: 100%;
    font-size: 23px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    /* position: absolute; */
    color: whitesmoke;
    background-color: rgb(26, 27, 27);
}
.row-4-2{
    height: 140px;
    overflow: auto;
    width: 100%;
    color:whitesmoke;
    background-color: rgb(50, 51, 52);
}
.row-4-3{
    padding-top: 8.5px;
    padding-left: 12px;
}

.nav__link{
    text-decoration: none;
    color: rgb(66, 66, 207);
}

.nav__link:hover{
    color: rgb(66, 66, 207);
    color: rgb(197, 78, 14);
    font-size: 17px;
    transition-duration: 200ms;
    
}

/* =======================Row-6===================== */
.row-5{
    height: 100%;
}

.row-5-1{
    /* height: 10%; */
    width: 100%;
    font-size: 23px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(26, 27, 27);
}
.row-5-2{
    height: 151px;
    overflow: auto;
    width: 100%;
    font-size: 16px;
    color:whitesmoke;
    padding-bottom: 2px;
    background-color: rgb(50, 51, 52); 
}
.row-5-3{
    text-decoration: none;
    color:whitesmoke;
}
.row-5-3:hover{
    color: rgb(197, 78, 14);
}

/* ========index1========== */

.photos{
    font-size: 20px;
    float: left;
    padding-left: 8px;
    padding-top: 18px;
}

.nav_backbutton{
    text-decoration: none;
    /* padding-top: 20px; */
    color: #222422;
}

.nav_backbutton:hover{
    color: rgb(175, 74, 7);
}

.nav__image1{
    height: 300px;
    width: 355.8px;
    background-color: rgb(75, 218, 218);
    border-radius: 5px;
    margin-top : 20px;
    float: left;
}

.nav__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* row-gap: 10px; */
    /* column-gap: 20px; */
}
/* @media(min-width: 650){
    .nav__image::after{
        height: 150px;
        width: 375px;
        background-color: rgb(75, 218, 218);
        border-radius: 5px;
        margin : 10px;
        float: left;
    }
} */